@page
@model Torneo.App.Frontend.Pages.Equipos.IndexModel
@{
}

<a class="btn btn-primary" asp-page="./Create">Crear equipo</a>

<h1>Listado de Equipos
<a class="btn btn-primary" asp-page="./Create">Crear equipos</a>
</h1>
<table class="table table-hover table-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Municipio</th>
            <th scope="col">Director Técnico</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var equipo in Model.equipos)
        {
            <tr>
                <td>@equipo.Id</td>
                <td>@equipo.Nombre</td>
                <td>@equipo.Municipio.Nombre</td>
                <td>@equipo.DirectorTecnico.Nombre</td>
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@equipo.Id">
                        Detalle
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
